body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.sair{
    background-color: #ff6666;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
}

.sair:hover{
    background-color: #cc0000;
}